* {
    transition: all 1000ms ease-out;
    -webkit-transition: all 1000ms ease-out;
  }
  
 /*  start Upper Bar */
.Upper-Bar{
    background-color: #1C1D25;
	color: #fff;
    padding: 10px;
    font-family: 'Coda', cursive;

    
}
.Upper-Bar .info {
    margin: 15px 0
  }
  @media (max-width: 576px) {
    .upper-bar .info:first-child {
      margin-bottom: 0
    }
  }

.Upper-Bar span {
    color: #bfc6c9;
    font-family: 'Patua One', cursive;

}

.Upper-Bar .CV{
  display: inline-block;
  border: 1px solid #2AE4E4;
  padding: 2px 10px;
  margin-left: 5px;
  font-weight: bold ;  
}
@media (max-width: 576px) {
    .Upper-Bar .CV{
        border: none;
        margin-left: 5px
    }
  }
/*  End Upper Bar */

/*  Start navbar-brand */
.navbar{
    background-color: #1C1D25;
    
}
.navbar-dark{
    color: #FFFFFF;

}
.navbar-brand > span {
	font-size: 40px;
}

.navbar-brand span:first-child {
  color: #FFFFFF;
  font-weight: bold;

}

.navbar-brand span:last-child {
  color: #FFFD38;
}
.navbar-nav .nav-link {
	font-size: 15px;
	margin-left: 20px;
    font-weight: bold;
    color: #fff !important;
    font-family: 'Coda', cursive;
    
}
.navbar-nav .active > .nav-link {
color: #FFFD38 !important
}
/*  End navbar-brand */
/* Start Choose Us */
.choose-us{
    background-color: #1C1D25;

}
.choose-us img {
    max-width: 80%;
  }
  
  .choose-us .info {
    padding: 0;
  }
  
  .choose-us .info:last-child {
    background-color: #1C1D25;
    color: #FFF;
  }
  .choose-us .h1 {
  color: #E9634E;
  }
  .choose-us .h1,h2 {
    margin: 40px;
    line-height: 1.3;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Joti One', cursive;

  }
  
  .choose-us .read-more {
    display: inline-block;
    padding: 8px 20px;
    margin: 0 0 0 40px;
    background-color: #E9634E;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 100px;
    font-family: 'Joti One', cursive;
    text-decoration: none;

  }
  @media (max-width: 800px) {
    .choose-us .read-more {
      margin-bottom: 10px;
    }
  }
  @media (max-width: 800px) {
   .choose-us .h1,h2 {
      line-height: 1;
      font-weight: 50px;
    }
  }
  
  /* End Choose Us */
 /* Start Section About me */ 
 .About{
  margin-top: 10px;
  width: 100%;
 }
 .me{
     background-color: #222222;

 }
 .About h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #DF2954;
    margin-top: 10px;

 }
 .About p{
    margin: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
}
 .About img{
     border-radius: 200px;
     width: 100%;
     margin-left: 50px
 }
 @media (max-width: 576px) {
    .About {
      margin-bottom: 10px
    }
  }

/* End Section About me */ 
/*star section my skills */
.skills {
    padding-bottom: 70px;
    width: 100%;
   background-color: #1C1D25;
   margin-top: 10px
}
.skills h3 {
    font-weight: bold;
    margin-top: 0px;
    font-size: 20px;
    text-align: end;
    color: #D7B065;
    margin-left: 20px;
    font-family: 'Titillium Web', sans-serif;

}
.skills h1{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #D7B065;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Titillium Web', sans-serif;

}
.skills .progress{
    height: 40px;
    background-color: #1C1D25
}
.skills .progress-barr{
    line-height: 60px;
    font-size: 15px; 
    font-weight: bold;
    text-align: left;
    background-color: #DF2954
}
.skills span{
    color: #2AE4E4;
    font-size: 15px; 
    font-family: 'Titillium Web', sans-serif;
   
}
/*End section my skills */
/*Start section my works */
.my-works{
    width: 100%;  
    background-color: #F3F3F3 ;
}
.my-works h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Titillium Web', sans-serif;
    margin-top:0;
  }


.p1:first-child{
    margin-bottom: 20px;
}

.my-works img{
    margin-bottom: 10px;
    opacity:.5
}
.my-works img:hover{
    opacity:1;

}
    .my-works a{
    color: rgb(26, 12, 12);
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
}
.my-works a:hover{
    color:#fff;
    padding: 10px;
    text-decoration: none;
    background-color: #222222;
    border-radius: 30px;
    font-weight: bold
}
@media (max-width: 800px) {
    .my-works img {
        margin-bottom: 10px;
        opacity:1;
        padding: 10px
     }
   }
   @media (max-width: 800px) {
    .my-works a
    {
        color:#fff;
        text-decoration: none;
        background-color: #222222;
        border-radius: 30px;
     }
   }
/*End section my works */
/* Start Section Education*/
.Education {
     width: 100%;
     }
    .Education h2{
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 30px;
        font-family: 'Titillium Web', sans-serif;
        margin-top:0;
        color:#FFFD38
    }
    .Education img{
        border-radius: 100%;
    }
.team{
    background: #1C1D25;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 40px
}
.Education .collage{
    margin-bottom: 40px
}
.Education p{
    margin: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
} 
.Education a{
    color: #F3F3F3;

}

 /* End Section Education*/ 
 /* Start Section Activities*/ 
 .Activities{
    background-color: #F3F3F3 ;
    margin-top: 0px;

 }
 .Activities .ac{
     margin-top: 20px;
 }
 .exp {
     padding-left: 80px;
 }
.exp h1{
font-size: 50px;
font-family: 'Titillium Web', sans-serif;
color: #E9634E;
margin-top: 10px;

}
.exp p{
    font-family: 'Archivo Narrow', sans-serif;


}
 /* End Section Activities*/
  /* Start Section  Computer knowledge*/
  .Computer{
      background-color: #1C1D25;
  }
  .Computer h1{
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: #E9634E;
    font-weight: bold;
    padding: 20px
  }

  .Computer h3{
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    color: #D7B065;
    font-weight: bold;
    margin-top: 15px;
  }
  .Computer p{
      color: #FFFFFF;
      text-align: center;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif
  }
  /* Start Copyright */

.copyright {
    padding: 20px;
    background-color: #222222
  }
  
  .copyright ul {
    margin: 0
  }
  
  .copyright ul li {
    display: inline-block;
  }
  
  .copyright ul li a {
    color: #FFF;
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
  }
  .copyright h1{
      color: #D7B065;
      font-size: 15px;
      font-family: 'Joti One', cursive;

  }
  .copyright p{
    color: #E9634E;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
  
  /* End Copyright */

 /* End Section  Computer knowledge*/

 #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:#D7B065; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 100%; /* Rounded corners */
}

#myBtn:hover {
    background-color: #222222 /* Add a dark-grey background on hover */
}


